<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Prime Searcher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		body {
			font-family: sans-serif;
			text-align: center;
		}
		
		#container {
			width: 80%;
			margin: auto;
		}

        .rect {
            height: 20px;
            background-color: blue;
        }
		
		#last-prime {
			font-size: 3em;
			font-weight: bold;
		}
	</style>
</head>
<body>
    <div id="container">
        <!-- Status information about the searcher -->
        <p th:if="${isRunning}">
            The searcher is currently <strong>running</strong>.
        </p>
        <p th:unless="${isRunning}">
            The searcher has been <strong>stopped</strong>.<br>
            This is the final result.
        </p>

        <div class="rect"></div>

        <p>Started at <span th:text="${startup}"></span></p>
        <p>The last prime discovered was <span id="last-prime" th:text="${latestPrime}"></span> at <span th:text="${latestPrimeDiscovered}"></span></p>

        <div class="rect"></div>

        <p>All primes discovered so far:</p>
        <p th:text="${allprimes}"></p>

        <div class="rect"></div>

        <p th:if="${isRunning}">To stop the prime searcher, click <a href="/primes/stop">here</a>.</p>
    </div>
</body>
</html>